@model IEnumerable<ASI.Basecode.Data.Models.SupabaseUser>

@{
    ViewData["Title"] = "Supabase Test";
}

<h2>@ViewData["Title"]</h2>
<p>@ViewBag.Message</p>

@if (Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>UserId</th>
                <th>Name</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No users found.</p>
}
